name: Go

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go_version: ['1.21', '1.22']
        os: ['ubuntu-latest'] # Simplificado para evitar redundância, mas pode manter o 22.04 se desejar
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go_version }}
      
    - name: Create-DB
      run: docker compose up -d

    - name: Wait for DB to be ready
      # Verifica se o postgres está pronto para receber conexões antes de testar
      run: |
        until docker exec postgres_db pg_isready; do
          echo "Aguardando Postgres iniciar..."
          sleep 2
        done

    - name: Test
      # Aqui passamos o HOST=127.0.0.1 para evitar o erro de IPv6 [::1]
      env:
        HOST: 127.0.0.1
      run: go test -v ./...
      
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Build
      run: go build -v main.go