name: Go

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: ['1.18', '1.19', '1.20']
        os: ['ubuntu-latest', 'ubuntu-22.04', 'ubuntu-20.04']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build-db
        run: |
          docker compose up -d 

      - name: test
        run: |
          go test -v main_test.go

  build:
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'ubuntu-22.04', 'ubuntu-20.04']
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      
      - name: build
        run: |
          go build -v -o main main.go